#carousel-generic{
	height: 300px;
	margin-bottom: -30px;
}

.jumbotron {
	border-bottom: 3px solid #cccccc;
}


.carousel-indicators  li {

	height: 10px;
	width: 10px;
	border-color: #53acfb;
	border-radius: 12px;
	margin: 10px 12px -30px 12px;
}

.carousel-indicators .active {
	margin: 10px 12px -30px 12px;
	width: 10px;
	height: 10px;
	background-color: #AAAAAA;
}

.carousel-control {
	background: none;
	text-shadow: none;
}

.carousel-control.left {
	background: none;
}

.carousel-control.right {
	background: none;
}

.site-text h2 {
	text-transform: uppercase;
}

.site-text {
	text-align: center;
	height: 260px;
	overflow: hidden;
}

.site-text p {
	font-size: 1em;
}

.tablet-cel {
	position:relative;
	transition: transform 1.5s;
	-webkit-transition: transform 1.5s;
	-o-transition: transform 1.5s;
	-ms-transition: transform 1.5s;
	-moz-transition: transform 1.5s;
	-webkit-backface-visibility: hidden;
}

.tablet-cel > .imac {
	position: absolute;
	right: 40px;
	bottom: 0;
	z-index: 0;
	background: url('../images/imac_lg.gif') no-repeat;
}

.tablet-cel > .iphone {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: url('../images/iPhone6_lg.gif') no-repeat;
}

/* END JUMBOTRON*/

/* START SECOND CONTENT*/

#home  {
	background-color: #fafafa;
}

#second-content > div {
	text-align: center;
	height: 300px;
	padding-top: 15px;
	padding-bottom: 0;
}

#big-logo-img {
	background: url('../images/logo.png') no-repeat;
	background-size: contain;
	width: 140px;
	height: 180px;
	display: inline-block;
} 

#lamp-img {
	background: url('../images/lampada-lilaz.gif') no-repeat;
	background-size: contain;
	display: inline-block;
	width: 110px;
	height: 180px;
	margin-top: 10px;
}



/*END SECOND CONTENT*/

/* LARGER DEVICES */
@media  (min-width: 1500px){
	.tablet-cel > .imac {
		height: 400px;
		width: 780px;
	}

	.tablet-cel > .iphone {
		width: 210px;
		height: 300px;
		background-size: contain;
	}


	#carousel-generic {
		height: 520px;
		margin-top: -50px;
	}

	.tablet-cel {
		height: 540px;
	}

	.tablet-cel > img {
		zoom: 1.6;
	}

	#second-content > div {
		margin-top: -30px;
	}

	#big-logo-img {
		margin-top: 12px;
	}

	.second-img + p {
		margin-top: 10px;
	}



	#big-logo {
		border-right: 1px solid rgba(102,102,102,0.8);
	}

	#purple-lamp {
		border-left: 1px solid rgba(102,102,102,0.8);
	}

	.site-text > h2 {
		font-size: 3em;
	}

	.site-text > p {
		font-size: 1.1em;
	}

	.site-text {
		height: 500px;
		padding: 180px 0 0 40px;
	}

	.item > .row > .container > .site-text {
		padding-left: 120px;
		padding-right: 0;
	}

}



/* LARGE DEVICES */
@media (min-width: 992px) and (max-width: 1499px) {

	#carousel-generic {
		margin-top: -50px;
	}

	.jumbotron {
		height: 340px;
	}



	.carousel-control {	
		margin: 0 -60px;
	}

	#second-content > div {
		height: 240px;
		margin-top: -30px;
		margin-bottom: 0;
	}

	#big-logo-img {
		margin-top: 10px;
		width: 118px;
		height: 160px;
	}

	#lamp-img {
		width: 80px;
		height: 160px;
	}

	#big-logo {
		border-right: 1px solid rgba(102,102,102,0.8);
	}

	#purple-lamp {
		border-left: 1px solid rgba(102,102,102,0.8);
	}


	.tablet-cel {
		height: 340px;
	}

	.tablet-cel > .imac {
		width: 482px;
		height: 249px;
		background-size: contain;
	}

	.tablet-cel > .iphone {
		width: 128px;
		height: 180px;
		background-size: contain;
	}
	
	.site-text {
		padding: 80px 0 0 50px;
	}
}

/* MEDIUM DEVICES */
@media (min-width: 768px) and (max-width: 991px) {

	#carousel-generic {
		margin-top: -50px;
	}

	#second-content {
		margin: -30px -120px 0 -120px;
		padding: 0;
	}

	#second-content > div {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 40px;
	}

	#big-logo {
		border-bottom: 1px solid rgba(102,102,102,0.8);
	}

	#purple-lamp {
		border-top: 1px solid rgba(102,102,102,0.8);
	}


	#big-logo-img {
		width: 100px;
		height: 120px;
	}

	#big-logo-img + p {
		margin-top: 20px;
	}

	#lamp-img {
		width: 80px;
		height: 150px;
	}
	
	.site-text {
		margin-top: -12px;
		margin-bottom: 0;
	}

	.tablet-cel {
		margin-top: -130px;
		height: 170px;
	}
	
	.tablet-cel > .imac {
		width: 400px;
		height: 600px;
		background-size: contain;
		position: static;
		display: block;
		margin: 0 auto;
	}

	.tablet-cel > .iphone {
		width: 100px;
		height: 140px;
		background-size: contain;
		left: 70%;
		bottom: -2px;
	}

}


/* MOBILE DEVICES */
@media (max-width: 767px) {

	#carousel-generic {
		margin-top: -30px;
	}


	#second-content {
		margin-top: -20px;
	}
	#second-content > div {
		height: 210px;
		margin: 0;
		padding-top: 10px;
	}

	.home-item > p {
		padding: 0;
		margin-top: 8px;
	}

	#big-logo-img {
		margin-top: 10px;
		width: 80px;
		height: 100px;
	}

	#lamp-img {
		height: 120px;
		width: 70px;
	}


	#big-logo {
		border-bottom: 1px solid rgba(102,102,102,0.8);
	}



	#purple-lamp {
		border-top: 1px solid rgba(102,102,102,0.8);
	}
	
	.site-text {
		margin-top: -12px;
		margin-bottom: 0;
	}

	.tablet-cel {
		margin-top: -120px;
		height: 150px;
	}
	
	.tablet-cel > .imac {
		width: 300px;
		height: 200px;
		background-size: contain;
		position: static;
		display: block;
		margin: 5px auto;
	}

	.tablet-cel > .iphone {
		width: 85px;
		height: 120px;
		background-size: contain;
		display: block;
		left: 70%;
		bottom: -5px;
	}
}
