.fitness {
	background-color: #ebebeb;
}

.acqua {
	background-color: #919ccb;
}

.acqua > .container > .site-text > h2 {
	color: #fff;
}

.acqua > .container > .site-text > p {
	color: #fff;
}

.acai {
	background-color: #fafafa;
}



@media (max-width: 991px) {
	.site-text {
		margin-top: 20px;
	}

	.tablet-cel .iphone {
		bottom: 0;
	}
}
